@page
@model AlexResumeSite.Pages.ResumeModel
@{

    <head>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link href="~/css/Home.css" rel="stylesheet">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="~/JS/Home.js"></script>
        <base href="/AlexResumeSite/" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <nav class="main-navigation sticky" id="navbar">
            <div class="navbar-header animated fadeInUp">
                <a class="navbar-brand" href="#">Alexander Brewer</a>
            </div>
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="~/" class="nav-link">Home</a>
                </li>
                <li class="nav-list-item margin-right-20">
                    <a href="~/Resume/" class="nav-link">Resume</a>
                </li>
            </ul>
        </nav>
        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">

                    </div>
                    <br />
                    <br />
                    <br />
                    <div class="inner cover">
                        <div class="container bleach-background">
                            <div class="row">


                            </div>
                        </div>

                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row p-5">
                                        <div class="col-md-12 text-center">
                                            <img class="resume-photo rounded" src="https://media-exp1.licdn.com/dms/image/C4E03AQGQFsXr0Z9PWg/profile-displayphoto-shrink_800_800/0/1618978345055?e=1625097600&v=beta&t=gWJ0T0aqfZ0ZOFjh3QDD_OtoB2VByZogsTlYPMhFMAU" />
                                            <h1 class="font-weight-bold mb-lg-n5">Alexander Brewer</h1>
                                            <h2 class="">Software Engineer</h2>
                                            <h3 class="margin-bottom-20">Objective</h3>
                                            <h4 class=""><i>Motivated, enthusiastic, and hard-working computer scientist seeks opportunity to become a valued member of an organization that promotes a challenging work environment and encourages professional growth.</i></h4>
                                        </div>
                                    </div>

                                    <hr class="my-5">

                                    <!--Content Box-->
                                    <article class="resume-align">
                                        <!--Content Header-->
                                        <h3 class="text-center margin-bottom-20">
                                            <strong>Experience</strong>
                                        </h3>
                                        <!-- List of Content-->
                                        <dt>SOFTWARE ENGINEER | COMPUTER PROGRAMS & SYSTEMS INC.</dt>
                                        <dt>2020 - Current</dt>
                                        <br />
                                        <p>
                                            •	Full-stack development of responsive ASP.NET/MVC webpages with integrated back-end SQL Server databases and RESTFUL APIs to simplify the process of end-to-end Revenue Cycle Management for healthcare facilities.
                                            <br />
                                            •	Utilization of VB.NET/C# to update existing code with new customer requested features.
                                            <br />
                                            •	Assisting in code reviews using TFS and WebEx Teams to verify proper coding standards and flow of task material.
                                            <br />
                                            •	Assigning of work using 2-week Sprint Agile methodologies and JIRA for task designation.
                                            <br />
                                            •	Documentation of code and related materials via usage of Confluence.
                                        </p>
                                        <br />

                                        <dt>APPLICATION SYSTEMS ENGINEER | WELLS FARGO </dt>
                                        <dt>2019 - 2020</dt>
                                        <br />
                                        <p>
                                            •	Responsible for the development of an automated environment comparison tool written in C#/Selenium that cut down the comparison time by 67%.
                                            <br />
                                            •	Reduced the runtime of migrations by creating a tool that automatically migrates controls through usage of Office, Selenium, and R libraries in Visual Studio.
                                            <br />
                                            •	Tracked defects and deployed enhancements using HP ALM, JIRA, Blueprint, and PAC2K.
                                            <br />
                                            •	Assisted both Waterfall and Agile teams in business requirements.
                                            <br />
                                            •	Additional involvement in creation of business rules, UI design, deployment support, and contractor training within the EarlyResolution Platform.
                                        </p>
                                        <br />

                                        <dt>WEB DESIGN CONSULTANT | HYDER INVESTMENTS INC. </dt>
                                        <dt>2018 - 2019</dt>
                                        <br />
                                        <p>
                                            • Development of responsive websites for clients in the manufacturing and restaurant industries
                                            utilizing Bootstrap, Chrome Developer Tools, Brackets, and Visual Studio Code.
                                            <br />
                                            • Demonstrated site functionality and managed change requests.
                                            <br />
                                            • Utilized modern web development controls including Bootstrap, PHP, JavaScript, CSS, HTML, XML,
                                            and JSON.
                                            <br />
                                            • Managed version control using Git with Ubuntu Server 18.04 (Headless).
                                        </p>
                                    </article>
                                    <!--Content Closer (Line between content boxes)-->
                                    <hr class="my-5">

                                    <!--Content Box-->
                                    <article class="resume-align">
                                        <!--Content Header-->
                                        <h3 class="text-center margin-bottom-20">
                                            <strong>Education</strong>
                                        </h3>
                                        <!-- List of Content-->
                                        <dt>UNIVERSITY OF MINNESOTA TWIN-CITIES</dt>
                                        <dt>Bachelor's</dt>
                                        <dt>2017 - 2019</dt>
                                        <br />
                                        <p>
                                            •	Major: Computer Science
                                            <br />
                                            •	Minor: Learning Technologies
                                            <br />
                                            •	Completion of an undergraduate coursework that has focused on a wide spectrum of technical disciplines ranging from object-oriented programming and web development to automata theory and artificial intelligence. Additional focus on Learning Technologies, which aims to educate students via online/digital learning strategies.
                                        </p>
                                        <br />
                                        <dt>NORTH HENNEPIN COMMUNITY COLLEGE</dt>
                                        <dt>Associate's</dt>
                                        <dt>2015 - 2017</dt>
                                        <br />
                                    </article>
                                    <!--Content Closer (Line between content boxes)-->
                                    <hr class="my-5">
                                    <!--Content Box-->
                                    <article class="resume-align">
                                        <!--Content Header-->
                                        <h3 class="text-center margin-bottom-20">
                                            <strong>Education</strong>
                                        </h3>
                                        <!-- List of Content-->
                                        <dt>Unity Fast Food Simulation Project</dt>
                                        <dt>2020 - Current</dt>
                                        <br />
                                        <p>
                                            •	An ongoing project between me and my younger brother, Christopher, in which we are creating a fast food simulation game that let's players control a fast food franchinse while making important decisions about their staff, food, future, and more!
                                            <br />
                                            •	Languages and tools used: Unity (2019.4.18f1), C#, JSON, XML, BitBucket, Jira (Kanban), Trello, Confluence, and various Unity Asset libraries.
                                        </p>
                                    </article>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </body>
}

